* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

*, :focus {
  outline: 0;
}

body {
  display: flex;
  justify-content: center;
  background: #ccd3d7;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding: 1rem 2rem 2rem;
  width: 600px;
}

.item {
  border: 1px solid green;
  margin-top: 1rem;
  padding: 1rem;
}

/* selection */
div::selection {
  background: greenyellow;
}
